@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(120deg, #1465bb, #2196f3); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 
    rgb(33,150,243);
    transition: all 0.25s ease-in-out;
}

.voltar {
    width: 50px;
    cursor: pointer;
}
.relogio {
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
}

.relogio span {
    font-size: 60px;
    font-weight: bolder;
}

.relogio .tempo {
    font-size: 10px;
}

.laranja {
    background-color: rgb(252, 251, 250);
    transition: all 0.25s ease-in-out;
}
.vermelho {
    background-color: rgb(175, 40, 40);
    transition: all 0.25s ease-in-out;
}
.purpura {
    background-color: rgb(109, 29, 109);
    transition: all 0.25s ease-in-out;
}


button {
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: 300;
    margin: 0 10px;
}

button img {
    height: 50px;
}

div.cores {
    position: absolute;
    top: 70%;
    left: 26%;
    transform: translateX(-50%, -50%);
    min-width: 50vw;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 520px) {
    body {
        height: 100%;
        width: 100%;
        display: inline;
       
        align-items: center;
        justify-content: center;
    }
    .relogio {
        height: 70vh;
        width: 90vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .relogio div {
        position: relative;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}

div.cores {
    position: relative;
    top: 70%;
    left: 0;
    transform: translateX(-50%, -50%);
    min-width: 50vw;
    text-align: center;
}

}